.ajf-report-builder {
  padding-top: 20px;
}

.ajf-report-builder img {
  max-width: 100%;
  height: auto;
}

.ajf-report-builder iframe {
  width: 100%;
}

.ajf-report-builder .components-navigate-regions {
  height: 100%;
}
